.name {
  padding: .5rem;
  text-align: center;
  color: var(--color-text-primary);
  font-size: 1.3rem;
}


.contact a{
  color: var(--color-text-secondary);
  transition: .1s all;
}

.contact a:hover{
  opacity: .8;
}

.contactIcon  {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.description {
  font-size: 0.9rem;
}