.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  margin-top: 5rem;
  font-size: 3rem;
}

.description {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.5rem;
}