.careerRow {
  display: flex;
  justify-content: space-between;
  gap: .9rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.skillList {
  margin: 0;
  padding: 0;
}

.skill {
  line-height: 2rem;
  font-size: 1.2rem;
  margin-top: .8rem;
  padding-inline-start: 10px;
  /* padding-inline-end: 10px; */
}


@media (max-width: 600px) {
  .skill {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}