.careerRow {
  display: flex;
  justify-content: space-evenly;
  gap: .85rem;
  margin-bottom: .9rem;
}

.skillList {
  margin: 0;
  padding: 0;
}



.skill {
  line-height: 1.1rem;
  font-size: 1rem;
  margin-top: 1.2rem;
  text-align: justify;
}