.navBar {
  overflow: hidden;
  background-color: #333;
}

.navBar a {
  float: left;
  color: var(--color-text-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all .2s;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

.active a {
  background-color: var(--color-text-terciary);
  color: white;
}

.langs {
  float: right;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  width: 100px;
}

.langsMap {
  position: absolute;
  margin-top: .4rem;
  transition: .2s all;
  background-color: #333;
  max-width: 100px;
}

.dNone {
  opacity: 0;
}

.langActive a {
  color: var(--color-text-secondary);
}


.arrowDown {
  margin-left: .5rem;
  margin-bottom: .1rem;
  border: solid var(--color-text-primary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

