.container {
  padding: 0 3rem;
  min-height: 80vh;
}

.title {
  margin-top: 1rem;
  font-size: 3rem;

  text-align: center;
}


@media (max-width: 600px) {
  .container {
    padding: 0 1.5rem;
  }
}